
.box {
    border: 10px solid black; 
    color: black;
    cursor: pointer;
    display: grid;
    flex: 33%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    height: 90%; 
    place-items: center;
}
